.GN-Repush {
  &__section1 {
    &__bg-img {
      background-image: url(../images/GN-Repush-2005_pc_bg_01.jpg);
      @include pad-767 {
        background-image: url(../images/GN-Repush-2005_mb_bg_01.jpg);
      }
    }
    &__content {
      top: 9.8rem;
      // left: 0;
      right: 0;
      text-align: center;
      width: 50%;
      @include desktop-1024 {
        top: 5.8rem;
      }
      @include pad-767 {
        top: auto;
        left: 0;
        right: 0;
        bottom: 3.8rem;
        margin: 0 auto;
        width: 100%;
      }
      @include mobile-414 {
        bottom: 2.8rem;
      }
    }
    &__360 {
      width: 5.12rem;
      height: auto;
      @include mobile-414 {
        width: 3.5rem;
      }
    }
  }
  &__section2 {
    line-height: 1.2;
    &__bg-img {
      background-image: url(../images/GN-Repush-2005_pc_bg_02.jpg);
      @include pad-767 {
        background-image: url(../images/GN-Repush-2005_mb_bg_02.jpg);
      }
    }
    &__content {
      top: 5.87rem;
      left: 5.6rem;
      right: 5.6rem;
      @include desktop-1024 {
        left: 2rem;
        right: 2rem;
      }
      @include pad-767 {
        left: 1rem;
        right: 1rem;
      }
      @include mobile-414 {
        top: 4rem;
      }
    }
    &__col-container1 {
      @include pad-767 {
        flex-direction: column;
        margin-left: 20%;
      }
    }
    &__col-container2 {
      @include pad-767 {
        margin-top: 10rem;
      }
      @include mobile-414 {
        margin-top: 0;
      }
    }
    h2 {
      margin-bottom: 6rem;
      text-align: center;
      @include desktop-1024 {
        margin-bottom: 5rem;
      }
      @include pad-767 {
        margin-bottom: 10.5rem;
      }
      @include mobile-414 {
        margin-bottom: 4rem;
      }
    }
    .note-text {
      &--white {
        @include pad-767 {
          text-align: right;
          color: #fff;
        }
      }
    }

    .col1 {
      text-align: right;
      padding-right: 6rem;
      background-image: url(../images/sec2-text-deco_pc_01.png);
      background-position: 0 1rem;
      background-size: contain;
      @include pad-767 {
        background-image: url(../images/sec2-text-deco_mb_01.png);
        background-position: 0 3rem;
        text-align: left;
        padding-right: 0;
      }
      @include mobile-414 {
        background-position: 0 5rem;
      }
    }
    .col2 {
      text-align: left;
      padding-left: 6rem;
      background-image: url(../images/sec2-text-deco_pc_02.png);
      background-position: 0 11rem;
      background-size: contain;
      padding-top: 5rem;
      @include desktop-1024 {
        background-position: 0 8rem;
        padding-top: 3rem;
      }
      @include pad-767 {
        background-image: url(../images/sec2-text-deco_mb_01.png);
        padding-top: 2rem;
        background-position: 0 4.5rem;
      }
      @include mobile-414 {
        background-image: url(../images/sec2-text-deco_mb_02.png);
        padding-left: 0rem;
        padding-top: 1rem;
        background-position: 0 2.5rem;
      }
      .note-text {
        text-align: left;
      }
    }
    .col {
      @include pad-767 {
        padding-left: 6rem;
      }
      @include mobile-414 {
        padding-left: 2.5rem;
      }
    }
    .sec2-main-text {
      color: $accent-color;
      line-height: 1.2;
    }
    .content-text {
      line-height: 1.2;
    }
    .col4,
    .col5,
    .col6 {
      width: 20rem;
      @include pad-767 {
        width: 15rem;
      }
      @include mobile-414 {
        width: 8.5rem;
      }
      .sec2-main-text2 {
        color: $accent-color;
      }
    }
    .col5 {
      text-align: left;
    }
    .col4,
    .col6 {
      text-align: right;
    }
    .col5,
    .col6 {
      @include pad-767 {
        margin-top: -5rem;
      }
    }
    .percentage {
      height: 3.87rem;
      width: auto;
      display: inline-block;
      @include desktop-1024 {
        height: 3rem;
      }
      @include mobile-414 {
        height: 2.5rem;
      }
    }
    .text-underline {
      display: inline-block;
      border-bottom: solid 3px $accent-color;
    }
  }
  &__section3 {
    &__bg-img {
      background-image: url(../images/GN-Repush-2005_pc_bg_03.jpg);
      @include pad-767 {
        background-image: url(../images/GN-Repush-2005_mb_bg_03.jpg);
      }
    }
    &__content {
      top: 5.87rem;
      left: 0;
      right: 0;
      text-align: center;
       @include mobile-414{
        top: 3.5rem;
      }
      .col {
        width: 22%;
        @include pad-767 {
          width: 45%;
        }
      }
      .col1,
      .col2,
      .col3 {
        margin-right: 1rem;
      }
      .col {
        @include pad-767 {
          margin-right: 0.5rem;
          margin-left: 0.5rem;
        }
      }
      .col3,
      .col4 {
        @include pad-767 {
          margin-top: 3rem;
        }
      }
      .step-gif {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 6.5rem;
        @include desktop-1024 {
          margin-top: 5rem;
        }
        @include pad-767 {
          margin-top: 7.5rem;
        }
        @include mobile-414 {
          margin-top: 3rem;
        }
      }
    }
    &__col-container {
      @include pad-767 {
        padding-right: 2rem;
        padding-left: 2rem;
      }
    }
  }
  &__section4 {
    color: #fff;
    &__bg-img {
      background-image: url(../images/GN-Repush-2005_pc_bg_04.jpg);
      @include pad-767 {
        background-image: url(../images/GN-Repush-2005_mb_bg_04.jpg);
      }
    }
    &__1plus1 {
      width: 6.8rem;
      height: auto;
      @include pad-767 {
        width: 8.8rem;
      }
      @include mobile-414 {
        width: 6.8rem;
      }
    }
    &__content {
      top: 5.87rem;
      left: 10rem;
      right: 10rem;
      text-align: center;
      @include desktop-1024 {
        left: 7rem;
        right: 7rem;
      }
      @include pad-767 {
        left: 3rem;
        right: 3rem;
      }
      @include mobile-414 {
        left: 0rem;
        right: 0rem;
        top: 2.8rem;
      }

      .col {
        @include mobile-414 {
          margin-right: 0.5rem;
          margin-left: 0.5rem;
        }
        .title {
          font-size: toRem(23px);
          font-weight: bold;
          @include desktop-1024 {
            font-size: toRem(23px) - 0.3;
          }
          @include pad-767 {
            font-size: toRem(30px);
          }
          @include mobile-414 {
            font-size: toRem(18px);
          }
        }
        .name {
          font-size: toRem(21px);
          color: $primary-color;
          @include desktop-1024 {
            font-size: toRem(21px) - 0.3;
          }
          @include pad-767 {
            font-size: toRem(28px);
          }
          @include mobile-414 {
            font-size: toRem(16px);
          }
        }
        .price {
          font-size: toRem(16px);
          color: $primary-color;
          @include pad-767 {
            font-size: toRem(25px);
          }
          @include mobile-414 {
            font-size: toRem(14px);
          }
        }
      }
    }
    &__container {
      margin-top: 20rem;
      @include desktop-1024 {
        margin-top: 13rem;
      }
      @include pad-767 {
        margin-top: 38rem;
      }
      @include mobile-414 {
        margin-top: 15.8rem;
      }
      .col2 {
        margin-top: 2rem;
      }
    }
  }
  &__section5 {
    &__bg-img {
      background-image: url(../images/GN-Repush-2005_pc_bg_05.jpg);
      @include pad-767 {
        background-image: url(../images/GN-Repush-2005_mb_bg_05.jpg);
      }
    }

    &__content {
      top: 5.87rem;
      left: 0;
      right: 0;
      text-align: center;
      .col {
        // width: 50%;
      }
      .col1 {
      }
    }
  }
  .btn-group {
    a:first-child {
      margin-right: 1rem;
    }
  }
}
