#loreal-compaign .ll-page-eyegen .family2 .ll-img--family {
  background: url(../images/family_prod2_2005.png); }

#loreal-compaign .ll-page-eyegen .family3 .ll-img--family {
  background: url(../images/family_prod3_2005.png); }

#loreal-compaign .ll-page-eyegen .family4 .ll-img--family {
  background: url(../images/family_prod4_2005.png); }

@media (min-width: 992px) {
  #loreal-compaign .ll-bg--family {
    background: url(../images/family_bg_2005.jpg); } }
