#loreal-compaign .ll-page-eyegen--text--family {
  color: #2c4157;
}

@media (min-width: 992px) {
  #loreal-compaign .ll-bg--o2o {
    height: 1000px;
  }
}

// 小黑瓶舊照更換
#loreal-compaign .ll-page-eyegen .family2 .ll-img--family {
  // width: 72px;
  // height: 230px;
  // display: block;
  // margin: 0 auto;
  background: url(../images/family_prod2_2005.png);
  background-repeat: no-repeat;
  background-position: bottom -10px center;
  -moz-background-size: 100%;
  background-size: 100%;
}

// 冰珠舊照更換
#loreal-compaign .ll-page-eyegen .family3 .ll-img--family {
  // width: 60px;
  // height: 230px;
  // display: block;
  // margin: 0 auto;
  background: url(../images/family_prod3_2005.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  -moz-background-size: 100%;
  background-size: 100%;
}

// 眼霜舊照更換
#loreal-compaign .ll-page-eyegen .family4 .ll-img--family {
  // width: 90px;
  // height: 230px;
  // display: block;
  // margin: 0 auto;
  background: url(../images/family_prod4_2005.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  -moz-background-size: 100%;
  background-size: 100%;
}

// family背景更換
#loreal-compaign .ll-bg--family {
  background: url(../images/family_bg_mb_2005_06.jpg);
  background-repeat: no-repeat;
  background-position: top;
  -moz-background-size: cover;
  background-size: cover;
  padding-bottom: 0%;
  @media (min-width: 992px) {
    background: url(../images/family_bg_mb_2005_06.jpg);
    background-repeat: no-repeat;
    background-position: top;
    -moz-background-size: cover;
    background-size: cover;
    padding-bottom: 0%;
  }
}
