* {
  box-sizing: border-box;
}
html {
  transition: 0.5s all;
  color: #000;
}
// body{
//   max-width: 1280px;
// }
svg {
  width: 100%;
}
a {
  text-decoration: none;
}
input:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
